<app-navbar-user></app-navbar-user>

<div class="main-container">
    <section class="turnos-card">
        <div class="perfil-sidebar">
            <div class="avatar-verde">
                <svg viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
            </div>
            <h3 class="nombre">Nombre</h3>
            <p class="cargo">Carga</p>
        </div>

        <div class="horario-container">
            <h2 class="titulo-seccion">Turnos</h2>
            <div class="grilla-horario">
                <div class="dia-label">Lunes</div>
                <div class="dia-label">Martes</div>
                <div class="dia-label">Miércoles</div>
                <div class="dia-label">Jueves</div>
                <div class="dia-label">Viernes</div>
                <div class="dia-label">Sábado</div>
                <div class="dia-label">Domingo</div>

                <div class="columna descanso">Descanso</div>

                <div class="columna trabajo">
                    <div class="bloque-hora">6:00<br>9:00</div>
                    <div class="bloque-romper">ROMPER</div>
                    <div class="bloque-hora">9:30<br>14:00</div>
                </div>
                <!-- REST OF DUMMY DATA FOR GRILLA -->
                <div class="columna trabajo">
                    <div class="bloque-hora">6:00<br>9:00</div>
                    <div class="bloque-romper">ROMPER</div>
                    <div class="bloque-hora">9:30<br>14:00</div>
                </div>
                <div class="columna trabajo">
                    <div class="bloque-hora">6:00<br>9:00</div>
                    <div class="bloque-romper">ROMPER</div>
                    <div class="bloque-hora">9:30<br>14:00</div>
                </div>
                <div class="columna trabajo">
                    <div class="bloque-hora">6:00<br>9:00</div>
                    <div class="bloque-romper">ROMPER</div>
                    <div class="bloque-hora">9:30<br>14:00</div>
                </div>
                <div class="columna trabajo">
                    <div class="bloque-hora">6:00<br>9:00</div>
                    <div class="bloque-romper">ROMPER</div>
                    <div class="bloque-hora">9:30<br>14:00</div>
                </div>
                <div class="columna trabajo">
                    <div class="bloque-hora">6:00<br>9:00</div>
                    <div class="bloque-romper">ROMPER</div>
                    <div class="bloque-hora">9:30<br>14:00</div>
                </div>
            </div>
        </div>
    </section>
</div>