// --- GLOBAL VARIABLES ---
$lime-primary: #76ff03;
$lime-light: #f1ffd1;
$lime-hover: #f9fff0;

$blue-primary: #76b6fe;
$blue-active: #90caf9;

$green-success: #52b788;
$red-danger: #d64545;

$dark-text: #2c3e50;
$gray-text: #9e9e9e;
$bg-main: #f4f7f6;
$border-color: #e0e0e0;

$shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.1);

$radius-lg: 20px;
$radius-md: 12px;
$radius-sm: 8px;
