<app-navbar></app-navbar>

<section class="seccion-reportes">
    <header class="titulo-reportes">
        <h1>Reportes</h1>
    </header>

    <main class="contenedor-reportes">
        <div class="control-wrapper">
            <select name="Reportes" id="Reportes" class="select-personalizado p-inputtext">
                <option value="" disabled selected hidden>Reporte Deseado</option>
                <option value="1">Semana 1</option>
                <option value="2">Semana 2</option>
                <option value="3">Semana 3</option>
                <option value="4">Semana 4</option>
            </select>
        </div>

        <div class="contenedor-boton">
            <button type="button" class="btn-descargar w-full" (click)="descargarReporte()">Descargar</button>
        </div>
    </main>
</section>